{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      
      {% block home_image_content %}
       
      {% endblock %}
    </section>
  {% endblock %}
</div>
